<a href="https://colab.research.google.com/github/Titashmkhrj/Quora-question-pair-similarity-detection/blob/master/modelling_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Description  
This is a problem from one of the competitions held on Kaggle.  
Competition name > <u>Quora Question Pairs</u>.  

What is Quora?  
Quora is a place to gain and share knowledge—about anything. It’s a platform to ask questions and connect with people who contribute unique insights and quality answers. This empowers people to learn from each other and to better understand the world.  

# Problem Description  
<i>(a/c the data source)</i>  
Over 100 million people visit Quora every month, so it's no surprise that many people ask similarly worded questions. Multiple questions with the same intent can cause seekers to spend more time finding the best answer to their question, and make writers feel they need to answer multiple versions of the same question. Quora values canonical questions because they provide a better experience to active seekers and writers, and offer more value to both of these groups in the long term.  

# Objective  
<i>(a/c the data source)</i>   
The goal of this competition is to predict which of the provided pairs of questions contain two questions with the same meaning.  

# Data source  
* From **KAGGLE** - https://www.kaggle.com/c/quora-question-pairs

Okay so prime-facie let's import some of the libraries,  
we will import other libraries as we go on a need basis.

In [1]:
import sys

# library to handle vectorized data 
import numpy as np 
# library for data analsysis and man
import pandas as pd 
# so that the output is not trunacated by pandas when we actually want to see it 
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 100000)

# for visualisations
import seaborn as sns
%matplotlib inline 
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Loading the data.

In [10]:
train_data = pd.read_csv(r'/content/drive/My Drive/Projects/Quora_question_pair_similarity/train.csv')

In [11]:
print('The dimensions of the training data are {} rows and {} columns'.format(train_data.shape[0], train_data.shape[1]))

The dimensions of the training data are 404290 rows and 6 columns

In [12]:
# let's take a look at the data
train_data.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [13]:
# let's check the features in our data
train_data.columns

Index(['id', 'qid1', 'qid2', 'question1', 'question2', 'is_duplicate'], dtype='object')

Feature explanation according to the data source :  
* **id** - the id of a training set question pair
* **qid1**, **qid2** - unique ids of each question (only available in train.csv)
* **question1**, **question2** - the full text of each question
* **is_duplicate** - the target variable, set to 1 if question1 and question2 have essentially the same meaning, and 0 otherwise.

In [15]:
# let's also ckeck the data types of our features
train_data.dtypes

id               int64
qid1             int64
qid2             int64
question1       object
question2       object
is_duplicate     int64
dtype: object

# Exploratory data analysis and (if required) data cleaning.